*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --bg-color:#FFF;
    
}
body{
    background-color: var(--bg-color);
}
img{
    max-width: 100%;
}
.heading-text{
    font-family: Roboto;
    text-align: center;
    color: #FABC3C;
}
.red{
    color: #C5283D;
}
.main-container{
    background-color: var(--bg-color);
    width: 95%;
    margin: 0 auto;
    padding: 2em 3em;
}
.container{
    padding: 3em 2em;
}
hr{
    margin: 1em 0;
}
ul{
    display: flex;
    margin-top: .5em;
    justify-content: center;
}
li{
    list-style-type: none; 
    
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #C5283D;
}
.recipes{
    width: 10em;
    margin-right: 1em; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
   
}

